
{% for post in posts %}
    <article class="post">
        <a class="image_thumb_zoom" href="{{ post.route('view') }}" title="{{substr( post.title,0,20) }}" rel="bookmark">
            {{ post.b.make.fit(371, 177).class("attachment-post-first wp-post-image")|raw }}
        </a>

        <h4 class="post-title">
            <a href="{{ post.route('view') }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}.</a>

        </h4>

         <span class="date">
                {{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
           </span>
        <p>{{substr( post.summary,0,70) }} ..</p>

    </article>
{% endfor %}