{% extends 'anomaly.theme.demo::layouts/default' %}



{% block content %}

    {% set series = entries('videos','series').orderBy('slug','ASC').paginate(10) %}

        {% for series in series %}
            <article id="post-532" class="post-532 product type-product status-publish has-post-thumbnail hentry instock">
            <h2 class="entry-title">
                <span class="the_title"><a href="{{ series.route('view') }}" title="{{ series.title }}" rel="bookmark">{{ series.title }}</a></span>

            </h2>
                <div class="entry-content">
                    <div id="stcpDiv">

                        <p>{{ series.description  }}</p>
                    </div>
                </div>


            </article>
        {% endfor %}

     {{ series.render|raw }}
{% endblock %}